 
    <% (allRSSFacts).forEach(item => { %> 
     
        <div>
            <a style="color:brown; font-size: 25px; font-weight: bold; text-decoration: none;" href= <%= item.link %>> <%= item.title %></a>
            <h5><%= item.pubDate %> | <%= item.creator %> | categories: <span style="font-weight: bold;"><%= item.categories %></span></h5>
            <p><%= item.contentSnippet %> </p>
            <hr>
        </div>
    <% }) %>



